vendor/
node_modules/
public/storage/
storage/
.env
resources/assets/typescript/typings
public/js
public/fonts
public/css
resources/themes
public/images
resources/assets/sass/themes
npm-debug.log
coverage
