.left-side {
  min-height: calc(100vh - 50px);
}

body {
  background-color: #39435c;
  min-height: 100vh;
}

.content {
  min-height: calc(100vh - 85px);
}

.sidebar-toggle {
  cursor: pointer;
}

.sm-st {
  display: block;
}

.amount {
  background: #425164;
  border-radius: 4px;
  padding: 0 4px;
}

.panel-body {
  position: relative;
  min-height: calc(100vh - 186px);
}

.btn-new {
  position: absolute;
  top: 24px;
  left: 15px;
}

tr {
  cursor: pointer;
}

.loader-icon {
  position: absolute;
  top: 27px;
  left: 80px;
}

.ms-parent {
  width: 100% !important;

  input {
    margin: 0 5px 0 0;
  }
}

.ms-choice {
  height: 34px;

  span {
    padding-top: 4px;
  }
}